<template>
    <div ref="page">
        <form @submit.prevent="save" class="form-horizontal">
            <input type="hidden" name="_token" :value="getToken()">
            <input type="hidden" name="upload" value="1">
            <error-list :errors="errors"></error-list>
            <div class="form-group" :class="{'has-error': hasError('group_id') }">
                 <label class="col-md-3 control-label required">Группа:</label>
                <div class="col-md-7">
                    <selectize placeholder="Выбрать" v-model="sparePart.parentGroup" :settings="selectizeGroupsOptions" ref="selectizeGroup">
                    </selectize>
                </div>
            </div>

            <div class="form-group" :class="{'has-error': hasError('group_id') }" v-if="sparePart.parentGroup">
                 <label class="col-md-3 control-label required">Подгруппа</label>
                <div class="col-md-7">
                    <selectize placeholder="Выбрать" v-model="sparePart.group" :settings="selectizeSubGroupsOptions" ref="selectizeSubGroup">
                    </selectize>
                </div>
            </div>

            <div class="form-group" :class="{'has-error': hasError('number') }">
                 <label class="col-md-3 control-label required">Номер детали:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" v-model="sparePart.number" ref="sparePartNumber" required>
                </div>
            </div>
            <div class="form-group" :class="{'has-error': hasError('name') }">
                 <label class="col-md-3 control-label required">Название:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" v-model="sparePart.name" required>
                </div>
            </div>
            <div class="form-group" :class="{'has-error': hasError('description') }">
                 <label class="col-md-3 control-label required">Описание:</label>
                <div class="col-md-7">
                    <textarea class="form-control" cols="30" rows="3" v-model="sparePart.description" required></textarea>
                </div>
            </div>
            <div class="form-group" :class="{'has-error': hasError('warehouse_id')}">
                 <label class="col-md-3 control-label required">Склад:</label>
                <div class="col-md-7">
                    <selectize placeholder="Выбрать" v-model="sparePart.warehouse" :settings="selectizeWarehousesOptions" ref="selectizeWarehouse">
                        <option :value="warehouse.id" v-for="warehouse in warehouses">{{ warehouse.name }}</option>
                    </selectize>
                </div>
            </div>
            <div class="form-group" :class="{'has-error': hasError('price') }">
                 <label class="col-md-3 control-label required">Стоимость детали:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" v-model="sparePart.price" ref="sparePartPrice" required>
                </div>
            </div>
            <div class="form-group" :class="{'has-error': hasError('images') }">
                 <label class="col-md-3 control-label">Фото:</label>
                <div class="col-md-7">
                    <div class="fileupload internal has-main" data-endpoint="/images">
                        <div class="fileupload-thumbs">
                            <a v-if="sparePart.images" v-for="(image, key) in sparePart.images" class="thumb" :class="{'main': image.main}" target="_blank" data-tl-disable="true" :href="'' + image.url + ''" :data-id="image.id">
                               <div class="align-helper"></div><img :src="'' + image.thumbUrl + ''" />
                                    <div class="controls-box">
                                    <div class="title" title="Изменить описание">{{ image.title }}</div>
                                    <div class="form-group">
                                        <span class="btn btn-xs main-btn btn-primary" v-on:click.stop.prevent="setMainImage(image.filename)" title="Сделать главной">
                                            <span class="glyphicon" v-bind:class="getClassForMainImage(image.main)"></span>
                                        </span>
                                        <span class="btn btn-xs btn-danger delete-btn" :data-filename="image.filename" v-on:click.stop.prevent="removeImage(image.filename)" title="Удалить">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="row fileupload-form">
                            <div class="col-md-2">
                                <span class="btn btn-sm btn-default fileinput-button">
                                    <span>Добавить</span>
                                    <input type="file" name="images[]" multiple />
                                </span>
                            </div>
                            <div class="col-md-10">
                                <div class="progress fileupload-progress">
                                    <div class="progress-bar progress-bar-success"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <button class="btn btn-primary col-xs-12 col-md-2" type="submit" @click.prevent="save">Сохранить</button>
                    <button v-if="sparePart.id!==undefined" class="btn btn-danger col-xs-12 col-md-2 pull-right" type="button" @click.prevent="reset">Отмена</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import ErrorList from '../../shared/errors-list';
    import Selectize from '../../shared/selectize';
    import Inputmask from "inputmask";

    function appendArray(form_data, values, name) {
        if (!values && name) {
            form_data.append(name, '');
        } else {
            if (typeof values == 'object') {
                for (let key in values) {
                    if (typeof values[key] == 'object') {
                        appendArray(form_data, values[key], name + '[' + key + ']');
                    } else {
                        form_data.append(name + '[' + key + ']', values[key]);
                    }
                }
            } else {
                form_data.append(name, values);
            }
        }

        return form_data;
    }

    export default {
        name: "spare-part-form",
        props: {
            rawSparePart: {
                type: Object,
                required: false
            },
            rawGroups: {
                type: Array,
                required: false
            },
            rawSubGroups: {
                type: Array,
                required: false
            },
            rawWarehouses: {
                type: Array,
                required: false
            }
        },
        components: {
            ErrorList, 'selectize': Selectize
        },
        created() {
            this.boot();
        },
        mounted() {
            this.load();

            // TODO Replace the upload to external vue file.
            this.attachFileupload();

            Inputmask({
                mask: "S{1,18}",
                definitions: {
                    'S': {
                        validator: "[A-Za-z0-9]",
                        casing: "upper"
                    }
                }
            }).mask(this.$refs.sparePartNumber);

            Inputmask({alias: 'currency', autoUnmask: true}).mask(this.$refs.sparePartPrice);
        },
        data() {
            return {
                duplicate: null,
                sparePart: {
                    id: 0,
                    name: '',
                    number: '',
                    description: '',
                    parentGroup: 0,
                    group: 0,
                    warehouse: 0,
                    price: 0.0,
                    images: null
                },
                buffer: {
                    api_token: ''
                },
                errors: [],
                groups: [],
                subGroups: [],
                warehouses: [],
                canBindThumbs: true
            };
        },
        computed: {
            selectizeGroupsOptions() {
                let componentScope = this;
                return {
                    valueField: 'id',
                    labelField: 'name',
                    searchField: 'name',
                    options: [],
                    create: function (value, cb) {
                        axios.post('/api/storage/spareparts-groups', {
                            api_token: window.apiToken(),
                            name: value
                        })
                                .then(function (response) {
                                    if (response.data) {
                                        cb(response.data);
                                    }
                                })
                                .catch(error => {
                                    componentScope.errors = error.response.data.errors;
                                });
                    },
                    onChange: function (id) {
                        componentScope.sparePart.parentGroup = id;
                        componentScope.loadSubgroups(id);
                    }
                };
            },
            selectizeSubGroupsOptions() {
                let componentScope = this;
                return {
                    valueField: 'id',
                    labelField: 'name',
                    searchField: 'name',
                    options: [],
                    create: function (value, cb) {
                        axios.post('/api/storage/spareparts-groups', {
                            parent_id: componentScope.sparePart.parentGroup,
                            api_token: window.apiToken(),
                            name: value
                        })
                                .then(function (response) {
                                    if (response.data) {
                                        cb(response.data);
                                    }
                                })
                                .catch(error => {
                                    componentScope.errors = error.response.data.errors;
                                });
                    }
                };
            },
            selectizeWarehousesOptions() {
                let componentScope = this;
                return {
                    valueField: 'id',
                    labelField: 'name',
                    searchField: 'name',
                    options: [],
                    create: function (value, cb) {
                        axios.post('/api/storage/spareparts-warehouses', {
                            api_token: window.apiToken(),
                            name: value
                        })
                                .then(function (response) {
                                    if (response.data) {
                                        cb(response.data);
                                    }
                                })
                                .catch(error => {
                                    componentScope.errors = error.response.data.errors;
                                });
                    }
                };
            }
        },
        updated() {
            this.bindThumbs();
        },
        methods: {
            boot() {
                if (this.rawSparePart !== undefined) {
                    this.sparePart = {
                        id: this.rawSparePart.id,
                        name: this.rawSparePart.name,
                        number: this.rawSparePart.number,
                        description: this.rawSparePart.description,
                        parentGroup: this.rawSparePart.parent_group_id,
                        group: this.rawSparePart.group_id,
                        warehouse: this.rawSparePart.warehouse_id,
                        price: this.rawSparePart.price,
                        images: this.rawSparePart.images
                    };
                }

                if (this.rawGroups !== undefined) {
                    this.groups = this.rawGroups;
                }

                if (this.rawSubGroups !== undefined) {
                    this.subGroups = this.rawSubGroups;
                }

                if (this.rawWarehouses !== undefined) {
                    this.warehouses = this.rawWarehouses;
                }
            },
            load() {
                if (0 === this.groups.length) {
                    axios.get('/api/data/spareparts/groups', {
                        params: {
                            api_token: window.apiToken()
                        }
                    }).then(response => {
                        this.groups = response.data;
                        this.initSelectize(this.$refs.selectizeGroup, this.groups, this.sparePart.parentGroup);
                    });
                } else {
                    this.initSelectize(this.$refs.selectizeGroup, this.groups, this.sparePart.parentGroup);
                }

                if (0 === this.warehouses.length) {
                    axios.get('/api/data/spareparts/warehouses', {
                        params: {
                            api_token: window.apiToken()
                        }
                    }).then(response => {
                        this.warehouses = response.data;
                        this.initSelectize(this.$refs.selectizeWarehouse, this.warehouses, this.sparePart.warehouse);
                    });
                } else {
                    this.initSelectize(this.$refs.selectizeWarehouse, this.warehouses, this.sparePart.warehouse);
                }
            },
            initSelectize: function (element, options, current) {
                let selectize = $(element)[0].$el.selectize;
                selectize.clear();
                selectize.clearOptions();
                selectize.addOption(options);
                selectize.renderCache['option'] = {};
                selectize.renderCache['item'] = {};
                selectize.refreshOptions(false);
                if (current) {
                    selectize.setValue(current);
                }
            },
            loadSubgroups(id) {
                axios.get('/api/data/spareparts/groups', {
                    params: {
                        api_token: window.apiToken(),
                        parent_id: id
                    }
                }).then(response => {
                    this.subGroups = response.data;
                    this.initSelectize(this.$refs.selectizeSubGroup, this.subGroups, this.sparePart.group);
                });

            },
            save() {
                if (this.rawSparePart !== undefined) {
                    this.update();
                    return;
                }
                this.create();
            },
            create() {
                this.prepare();
                axios.post('/api/storage/spareparts', this.buffer)
                        .then(() => window.Turbolinks.go(`/storage/all`))
                        .catch(error => {
                            this.errors = error.response.data.errors;
                        });
            },
            update() {
                this.prepare();
                axios.put(`/api/storage/spareparts/${this.sparePart.id}`, this.buffer)
                        .then(response => window.Turbolinks.go(`/storage/all`))
                        .catch(error => {
                            if (error.status === 403) {
                                this.errors.push(['У вас нет прав на выполнение данной операции.']);
                                return;
                            }
                            this.errors = error.response.data.errors;
                        });
            },
            check() {

            },
            prepare() {
                this.buffer = {
                    name: this.sparePart.name,
                    description: this.sparePart.description,
                    group_id: this.sparePart.group,
                    warehouse_id: this.sparePart.warehouse,
                    number: this.sparePart.number,
                    price: this.sparePart.price,
                    images: this.sparePart.images,
                    api_token: window.apiToken()
                };
            },
            reset() {
                window.Turbolinks.go(`/storage/all`);
            },
            hasError(field) {
                if (this.errors !== undefined && this.errors !== []) {
                    return this.errors[field] !== undefined;
                }
                return false;
            },
            getToken() {
                return window.token;
            },
            getClassForMainImage(main) {
                if (main) {
                    return 'glyphicon-check';
                }
                return 'glyphicon-unchecked';
            },
            setMainImage(filename) {
                let images = this.sparePart.images,
                        filenames = images.map(function (image) {
                            image.main = 0;
                            return image.filename;
                        }),
                        index = filenames.indexOf(filename);

                if (index > -1) {
                    this.sparePart.images[index].main = 1;
                } else {
                    console.error('Not found image by name.');
                }
            },
            removeImage(filename) {
                let images = this.sparePart.images,
                        filenames = images.map(function (e) {
                            return e.filename;
                        }),
                        index = filenames.indexOf(filename),
                        isMain = false;

                if (index > -1) {
                    isMain = images[index].main;
                    images.splice(index, 1);
                } else {
                    console.error('Not found image by name.');
                }

                if (isMain && images.length) {
                    images[0].main = 1;
                }
            },
            bindThumbs() {
                if (false === this.canBindThumbs) {
                    return;
                }

                let componentScope = this,
                        $fileupload = $(this.$refs.page).find('.fileupload');

                $fileupload.find('.thumb').each(function () {
                    let $t = $(this);

                    if ($t.data('bound')) {
                        return;
                    }

                    $t.data('bound', true);
                    $t.find('.title').cellEdit({
                        tag: '<input type="text" />',
                        closeOnEnter: true,
                        onTextChange: function (text, elem, oldtext) {
                            let $title = $(elem),
                                    $anchor = $title.closest('a'),
                                    $listContainer = $anchor.closest('.fileupload-thumbs'),
                                    $list = $listContainer.find('.thumb'),
                                    index = $list.index($anchor);

                            if (index in componentScope.sparePart.images) {
                                componentScope.sparePart.images[index].title = text;
                            }
                        }
                    });
                });

                $fileupload.find('.fileupload-thumbs').magnificPopup({
                    delegate: 'a',
                    type: 'image',
                    mainClass: 'mfp-img-mobile',
                    tClose: 'Закрыть (Esc)',
                    tLoading: 'Загрузка...',
                    gallery: {
                        enabled: true,
                        navigateByImgClick: true,
                        preload: [0, 1],
                        tPrev: 'Назад (←)',
                        tNext: 'Вперёд (→)',
                        tCounter: '%curr% из %total%'
                    },
                    image: {
                        titleSrc: function (item) {
                            return item.el.find('.title-input').val();
                        },
                        tError: 'Не удалось загрузить <a href="%url%">изображение</a>.'
                    }
                });
            },
            attachFileupload() {
                let componentScope = this,
                        $page = $(this.$refs.page);

                $page.find('.fileupload').each(function () {
                    let $fileupload = $(this),
                            $progressBar = $fileupload.find('.fileupload-progress'),
                            $progressScale = $progressBar.find('.progress-bar'),
                            endpoint = $fileupload.data('endpoint');

                    componentScope.bindThumbs();

                    $fileupload
                            .fileupload({
                                url: `${endpoint}/upload`,
                                start: function () {
                                    $progressBar.show();
                                },
                                done: function (e, data) {
                                    $progressBar.hide();
                                    componentScope.sparePart.images = data.result.images;
                                },
                                fail: function (e, data) {
                                    showError(getFirstApiError(data.jqXHR));
                                    $progressBar.hide();
                                    componentScope.canBindThumbs = true;
                                },
                                progressall: function (e, data) {
                                    var progress = parseInt(data.loaded / data.total * 100, 10);
                                    $progressScale.css('width', progress + '%');
                                },
                                singleFileUploads: false,
                                sequentialUploads: true
                            })
                            .bind('fileuploadsubmit', function (e, data) {
                                let formData = new FormData();
                                appendArray(formData, componentScope.sparePart.images, 'uploadedImages')
                                formData.append('_token', componentScope.getToken());

                                data.formData = formData;
                            })
                            .prop('disabled', !$.support.fileInput)
                            .parent().addClass($.support.fileInput ? undefined : 'disabled');
                });
            }
        }
    }
</script>

<style scoped>

</style>