<template>
    <div ref="page">
        <form @submit.prevent="save" class="form-horizontal">
            <input type="hidden" name="_token" :value="getToken()">
            <input type="hidden" name="upload" value="1">
            <error-list :errors="errors"></error-list>
            <div class="form-group" :class="{'has-error': hasError('name') }">
                 <label class="col-md-3 control-label required">Название:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" v-model="warehouse.name" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <button class="btn btn-primary col-xs-12 col-md-2" type="submit" @click.prevent="save">Сохранить</button>
                    <button v-if="warehouse.id!==undefined" class="btn btn-danger col-xs-12 col-md-2 pull-right" type="button" @click.prevent="reset">Отмена</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import ErrorList from '../../shared/errors-list';

    function appendArray(form_data, values, name) {
        if (!values && name) {
            form_data.append(name, '');
        } else {
            if (typeof values == 'object') {
                for (let key in values) {
                    if (typeof values[key] == 'object') {
                        appendArray(form_data, values[key], name + '[' + key + ']');
                    } else {
                        form_data.append(name + '[' + key + ']', values[key]);
                    }
                }
            } else {
                form_data.append(name, values);
            }
        }

        return form_data;
    }

    export default {
        name: "spare-part-warehouse-form",
        props: {
            rawWarehouse: {
                type: Object,
                required: false
            }
        },
        components: {
            ErrorList
        },
        created() {
            this.boot();
        },
        data() {
            return {
                duplicate: null,
                warehouse: {
                    id: 0,
                    name: ''
                },
                buffer: {
                    api_token: ''
                },
                errors: []
            };
        },
        methods: {
            boot() {
                if (this.rawWarehouse !== undefined) {
                    this.warehouse = {
                        id: this.rawWarehouse.id,
                        name: this.rawWarehouse.name
                    };
                }
            },
            save() {
                if (this.rawWarehouse !== undefined) {
                    this.update();
                    return;
                }
                this.create();
            },
            create() {
                this.prepare();
                axios.post('/api/storage/spareparts-warehouses', this.buffer)
                        .then(() => window.Turbolinks.go(`/storage/warehouses/all`))
                        .catch(error => {
                            this.errors = error.response.data.errors;
                        });
            },
            update() {
                this.prepare();
                axios.put(`/api/storage/spareparts-warehouses/${this.warehouse.id}`, this.buffer)
                        .then(response => window.Turbolinks.go(`/storage/warehouses/all`))
                        .catch(error => {
                            if (error.status === 403) {
                                this.errors.push(['У вас нет прав на выполнение данной операции.']);
                                return;
                            }
                            this.errors = error.response.data.errors;
                        });
            },
            check() {

            },
            prepare() {
                this.buffer = {
                    name: this.warehouse.name,
                    api_token: window.apiToken()
                };
            },
            reset() {
                window.Turbolinks.go(`/storage/warehouses/all`);
            },
            hasError(field) {
                if (this.errors !== undefined && this.errors !== []) {
                    return this.errors[field] !== undefined;
                }
                return false;
            },
            getToken() {
                return window.token;
            }
        }
    }
</script>
