<template>
    <div ref="page">
        <form @submit.prevent="save" class="form-horizontal">
            <input type="hidden" name="_token" :value="getToken()">
            <input type="hidden" name="upload" value="1">
            <error-list :errors="errors"></error-list>
            <div class="form-group" :class="{'has-error': hasError('parent_id') }">
                 <label class="col-md-3 control-label required">Тип</label>
                <div class="col-md-7">
                    <select v-model="group.depth" class="form-control">
                        <option value="1">Группа</option>
                        <option value="2">Подгруппа</option>
                    </select>
                </div>
            </div>
            <div class="form-group" :class="{'has-error': hasError('parent_id') }" v-if="group.depth>1">
                 <label class="col-md-3 control-label required">Группа</label>
                <div class="col-md-7">
                    <selectize placeholder="Выбрать" v-model="group.parent_id" :settings="selectizeGroupsOptions" ref="selectizeGroup">
                    </selectize>
                </div>
            </div>
            <div class="form-group" :class="{'has-error': hasError('name') }">
                 <label class="col-md-3 control-label required">Название:</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" v-model="group.name" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <button class="btn btn-primary col-xs-12 col-md-2" type="submit" @click.prevent="save">Сохранить</button>
                    <button v-if="group.id!==undefined" class="btn btn-danger col-xs-12 col-md-2 pull-right" type="button" @click.prevent="reset">Отмена</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import ErrorList from '../../shared/errors-list';
    import Selectize from '../../shared/selectize';

    export default {
        name: "spare-part-group-form",
        props: {
            rawGroup: {
                type: Object,
                required: false
            },
            rawGroups: {
                type: Array,
                required: false
            }
        },
        components: {
            ErrorList, 'selectize': Selectize
        },
        created() {
            this.boot();
        },
        data() {
            return {
                duplicate: null,
                group: {
                    id: 0,
                    name: '',
                    parent_id: 0,
                    depth: 1
                },
                buffer: {
                    api_token: ''
                },
                errors: [],
                groups: []
            };
        },
        computed: {
            selectizeGroupsOptions() {
                let componentScope = this;
                return {
                    valueField: 'id',
                    labelField: 'name',
                    searchField: 'name',
                    options: componentScope.groups,
                    onChange: function (id) {
                        componentScope.group.parent_id = id;
                    }
                };
            }
        },
        methods: {
            boot() {
                if (this.rawGroup !== undefined) {
                    this.group = {
                        id: this.rawGroup.id,
                        name: this.rawGroup.name,
                        parent_id: this.rawGroup.parent_id,
                        depth: this.rawGroup.depth
                    };
                }

                if (this.rawGroups !== undefined) {
                    this.groups = this.rawGroups;
                }
            },
            save() {
                if (this.rawGroup !== undefined) {
                    this.update();
                    return;
                }
                this.create();
            },
            create() {
                this.prepare();
                axios.post('/api/storage/spareparts-groups', this.buffer)
                        .then(() => window.Turbolinks.go(`/storage/groups/all`))
                        .catch(error => {
                            this.errors = error.response.data.errors;
                        });
            },
            update() {
                this.prepare();
                axios.put(`/api/storage/spareparts-groups/${this.group.id}`, this.buffer)
                        .then(response => window.Turbolinks.go(`/storage/groups/all`))
                        .catch(error => {
                            if (error.status === 403) {
                                this.errors.push(['У вас нет прав на выполнение данной операции.']);
                                return;
                            }
                            this.errors = error.response.data.errors;
                        });
            },
            check() {

            },
            prepare() {
                this.buffer = {
                    name: this.group.name,
                    parent_id: (this.group.depth > 1?this.group.parent_id: null),
                    api_token: window.apiToken()
                };
            },
            reset() {
                window.Turbolinks.go(`/storage/groups/all`);
            },
            hasError(field) {
                if (this.errors !== undefined && this.errors !== []) {
                    return this.errors[field] !== undefined;
                }
                return false;
            },
            getToken() {
                return window.token;
            }
        }
    }
</script>
