<template>

    <tr>
        <td>{{id}}</td>
        <td>{{name_detail}}</td>
<!--         <td>
            <a target="_blank" :href="'/../profile/' + id" class="btn btn-info btn-sm" title="Профиль пользователя">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </td> -->
        <td>
            <!-- <button type="button" class="btn btn-primary btn-sm" title="Редактировать данные о ставке пользователя"
                    v-on:click="show(id)">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>    -->         <!--<modals-container/>-->
<!--             <modal :name="'edit-salary-rate-user-' + id">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Редактировать ставку для {{ name }}</h5>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group col-md-12">
                                <label for="rate" class="control-label required">Ставка</label>
                                <input type="text" class="form-control" id="rate" v-model="salary_rate.amount">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="description" class="control-label">Описание</label>
                                <input type="text" class="form-control" id="description" v-model="salary_rate.description">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="editUserSalaryRate">Изменить</button>
                        <button type="button" class="btn btn-secondary" v-on:click="hide(id)">Отмена</button>
                    </div>
                </div>
            </modal> -->
        </td>
        <td>
            <button type="button" class="btn btn-danger btn-sm" title="Удалить ставку пользователя"
                    v-on:click="deletePositionApplication">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
    </tr>

</template>

<script>
    import Vue from 'vue';
    import VModal from 'vue-js-modal';
    Vue.use(VModal);

    export default {
        name: 'list-position-application',
        props: ['id', 'name_detail','key'],
        data: () => ({
        }),
        methods: {
            deletePositionApplication() {
                if (confirm('Вы уверены что хотите удалить деталь?')) {
                    axios.delete(apiUrl('repair/delete/'+this.id)).then((response) => {
                        if (response.data.success === true) {
                            showSuccess('Деталь удалена');
                            this.$emit('deletePositionApplication', this.key);
                        }
                        else {
                            showError(response.data.errors[0]);
                        }
                    }, (error) => {
                        showError(error);
                    });
                }
            },
            show (id) {
                this.$modal.show('edit-salary-rate-user-' + id)
            },
            hide (id) {
                this.$modal.hide('edit-salary-rate-user-' + id);
            },
            editUserSalaryRate() {
                axios.put(apiUrl(`salary/rate/${this.salary_rate.id}`), {
                    user_id: this.id,
                    rate: this.salary_rate.amount,
                    description: this.salary_rate.description,
                    api_token: document.getElementsByName('api-token')[0].content,
                }).then((response) => {
                    if (response.data.success === true) {
                        showSuccess('Ставка успешно добавлена');
                        this.$modal.hide('edit-salary-rate-user-' + this.id);
                    }
                    else {
                        showError(response.data.errors[0]);
                    }
                }, (error) => {
                    showError(error);
                });
            },
        },
    }
</script>

<style scoped>

</style>