<template>
    <div class="container">
                <div class="col-md-3">
                    <div class="row">
                    </div>
                    <div class="row">
                        <form @submit.prevent="createPosition">
                            <div class="form-group col-md-12">
                                <label for="name_detail" class="control-label">Название детали</label>
                                <input type="text" class="form-control" id="name_detail" v-model="name_detail" required>
                            </div>
                            <div class="form-group col-md-12">
                                <button class="btn btn-success" type="button"
                                        @click.prevent="createPosition">Добавить
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Название детали</th>
                            </tr>
                            </thead>
                            <tbody>
                            <list-position-application v-for="(applicationPosition, key) in positionApplicationList"
                                                   v-bind="applicationPosition" :applicationPosition="applicationPosition"
                                                   :name_detail.sync="applicationPosition.name_detail"
                                                   @deletePositionApplication="deletePositionApplication"
                                                   :key="applicationPosition.id"/>
                            </tbody>
                        </table>
                    </div>
                </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import VModal from 'vue-js-modal';
    Vue.use(VModal);

    export default {
        name: 'position-application',
                data: function () {
            return {
                name_detail: '',
                positionApplicationList: '',
            };
        },
        methods: {
                        createPosition() {
                if (confirm('Создать позицию?')) {
                    this.buffer = {
                        name_detail: this.name_detail,
                        api_token: document.getElementsByName('api-token')[0].content,
                    };
                    axios.post(apiUrl('repair/position'), this.buffer).then((response) => {
                        if (response.data.success === true) {
                            showSuccess('Позиция успешно добавлена');
                            console.log(apiUrl('repair/position'));
                            this.name_detail = '';
                            this.positionApplicationList = response.data.data.application_position;
                            console.log(this.positionApplicationList);
                        }
                        else {
                            showError(response.data.errors[0]);
                        }
                    }, (error) => {
                        showError(error);
                    });

                }
            },
      deletePositionApplication (key) {
                this.positionApplicationList.splice(key, 1);
            },
        },
    }
</script>

<style scoped>

</style>