<template>
    <div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="POST">

                        <div class="input-group col-md-8 col-sm-12 col-xs-12">
                            <label for="title" class="col-md-1 control-label">Название: </label>
                            <input class="form-control" type="text" name="title"
                                   id="title"
                                   v-model="title">
                        </div>
                        <div class="form-group">
                            <div style="margin-left: 30px"> Город: </div>
                            <selector placeholder="Выбрать" :options="cities" track-by='id' label="name"
                                      v-model="city" :allow-empty="false" id="city"></selector>
                        </div>
                        <h5>Контактная информация:</h5>
                        <div class="form-group col-md-12">
                            <label>ФИО:</label>
                            <input type="text" class="form-control"  v-model="name" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Номер телефона:</label>
                            <input maxlength="10" type="text" class="form-control" placeholder="0638406040"
                                   v-model="telephone"
                                   required>
                        </div>
                        <hr>
                        <button type="button" class="btn btn-success" @click="create">
                            Добавить провайдера
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import Selector from 'vue-multiselect';
    import 'vue-multiselect/dist/vue-multiselect.min.css';
    import axios from 'axios';
    export default {
        name: 'add-provider-form',
        components: {
            Selector,
        },
        created() {
            this.boot();
        },
        data: function () {
            return {
                name: '',
                contact_info: '',
                city:'',
                cities: [],
                telephone:'',
                title: '',
                taggingOptions: [],
                taggingSelected: [],
            };
        },
        methods: {
            boot() {
                this.load();
            },
            load(){
                axios.get('/api/data/cities?api_token=Admin.1.0000000000000000000000000000000000000000000000000000').then(response => this.cities = response.data);
            },
            create() {
                this.buffer = {
                    title: this.title,
                    name: this.name,
                    city: this.city.id,
                    telephone: this.telephone,
                };
                axios.post(apiUrl('providers/add'), this.buffer).then((response) => {
                    if (response.data.success === true) {
                        showSuccess('Провайдер добавлен!');

                        setTimeout(function () {
                            document.location.href = 'index';
                        }, 500);
                    }
                    else {
                        showError(response.data.errors[0]);
                    }
                }, (error) => {
                    console.log('Произошла ошибка!', error);
                    showError(error);
                });
            },
        }
    }

</script>

<style scoped>

</style>