<template>
    <div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="POST">
                        <label for="title" class="col-md-1 control-label">Заголовок</label>
                        <div class="input-group col-md-8 col-sm-12 col-xs-12">
                            <input class="form-control" type="text" name="title"
                                   id="title"
                                   v-model="title">
                        </div>

                        <label for="preview_text" class="col-md-1 control-label">Превью</label>
                        <div class="input-group col-md-8 col-sm-12 col-xs-12">
                                <textarea class="form-control" rows="5" id="preview_text" v-model="preview_text">
                                    {{ preview_text }}
                                </textarea>
                        </div>

                        <hr>

                        <div class="row">
                            <vue-editor v-model="text"></vue-editor>
                        </div>

                        <div class="form-group">
                            <label for="tags" class="col-md-3 control-label">
                                Теги
                            </label>
                            <selector v-model="taggingSelected" id="tags" :options="taggingOptions" :multiple="true"
                                      :taggable="true" @tag="addTag" tag-placeholder="Добавить новый тег"
                                      placeholder="Выберите или добавьте теги" label="name" track-by="code"></selector>
                        </div>

                        <div class="form-group" id="form-group-is_published">
                            <label for="is_published" class="col-md-3 control-label">Опубликовать для пользователей</label>
                            <div class="col-md-7">
                                <!--v-if="news.is_published" checked-->
                                <input class="form-check-input" type="checkbox" v-model="is_published"
                                       id="is_published">
                            </div>
                        </div>

                        <button type="button" class="btn btn-success" @click="update">
                            Редактировать новость
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import { VueEditor } from 'vue2-editor'
    import Selector from 'vue-multiselect';
    import 'vue-multiselect/dist/vue-multiselect.min.css';

    export default {
        name: 'edit-news-form',
        components: {
            Selector,
            VueEditor,
        },
        props: [
            'news'
        ],
        data() {
            return {
                title: this.news.title,
                preview_text: this.news.preview_text,
                text: this.news.text,
                taggingOptions: this.news.tags.length > 0 ? this.news.tags : [],
                taggingSelected: this.news.tags.length > 0 ? this.news.tags : [],
                is_published: this.news.is_published,
            };
        },
        methods: {
            update() {
                this.buffer = {
                    title: this.title,
                    preview_text: this.preview_text,
                    text: this.text,
                    tags: this.taggingSelected,
                    is_published: this.is_published,
                };
                axios.put(apiUrl('admin/car-news/' + this.news.id), this.buffer).then((response) => {
                    if(response.data.success === true) {
                        showSuccess('Новость изменена');

                        setTimeout(function(){
                            document.location.href = '/admin/car-news';
                        }, 500);
                    }
                    else {
                        showError(response.data.errors[0]);
                    }
                }, (error) => {
                    console.log('Произошла ошибка!', error);
                    showError(error);
                });
            },
            addTag (newTag) {
                const tag = {
                    name: newTag,
                    code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
                };
                this.taggingOptions.push(tag);
                this.taggingSelected.push(tag);
            },
        }
    }

</script>

<style scoped>

</style>