<template>
    <div>
        <div class="panel panel-default" @click="linkProv">
            <div class="panel-heading" data-toggle="collapse" :href="link" role="button" aria-expanded="false" aria-controls="collapseExample" @click="isExpanded = !isExpanded">
                <div class="row">
                    <h5 class="pull-left" data-tl-disable="true">{{ provider.title }}</h5>
                    <div class="pull-right">
<!--                         <a class="btn btn-sm btn-primary" title="Редактировать провайдера" :href="`providers/` + provider.id + `/edit`">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a> -->
                        <button @click="remove" class="btn btn-sm btn-danger delete-car">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="collapse" :id="linkId">
                <div class="card card-body">
                    <div>Название: {{provider.title}}</div>
                    <div>Имя: {{provider.name}}</div>
                    <div>Телефон: {{provider.telephone}}</div>
                    <div>Город: {{provider.city.name}}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'provider-item',
        props: {
            provider: {
                type: Object,
                default() {
                    return this.$props.$_PaginationObject;
                }
            },
        },
        data() {
            return {
                link:'',
                linkId:'',
                isExpanded: false,
            };
        },
        methods: {
            linkProv(){
                console.log(this.provider);
                this.link = '#link'+this.provider.id;
                this.linkId = 'link'+this.provider.id;
            },
            remove() {
                if (confirm("Вы уверены что хотите удалить провайдера?")) {
                    axios.delete(apiUrl('providers/delete/' + this.provider.id)).then((response) => {
                        if (response.data.success === true) {
                            showSuccess('Новость удалена');
                            this.EventBus.$emit('filter-changed');
                        }
                        else {
                            showError(response.data.errors[0]);
                        }
                    }, (error) => {
                        showError(error);
                    });
                }
            },
        }
    }

</script>

<style scoped>
    .flush-style {
        color: #000;
        cursor: pointer;
    }

    .panel-heading {
        font-size: 16px;
        cursor: pointer;
    }

    .news-content {
        max-width: 100%;
    }

    .news-content img{
        width: inherit;
    }

</style>