<template>
    <!-- пробелы для лучшей читаемости см. ref="name_detail" -->
    <tr>
        <td ref="name_detail">{{ position.name_detail }}</td>
        <td><span v-if="provider">{{provider.name}}</span></td>
        <td ref="delivery_time">{{ delivery_time}}</td>
        <td ref="enter_price">{{ enter_price}}$</td>
        <td ref="markup"><b>{{ markup }}</b></td>
        <td ref="client_price">{{ client_price }}$</td>
        <td><input type="checkbox" :id="id_chackbox" @click="check_id"></td>
        <!--       <td>
                  <a target="_blank" :href="'/../profile/' + id" class="btn btn-info btn-sm" title="Профиль пользователя">
                      <span class="glyphicon glyphicon-user"></span>
                  </a>
              </td> -->
        <td>
            <!--           <button type="button" class="btn btn-primary btn-sm" title="Редактировать данные о ставке пользователя"
                              v-on:click="show(id)">
           -->                <!-- <span class="glyphicon glyphicon-pencil"></span> -->
            <!--</button>            &lt;!&ndash;<modals-container/>&ndash;&gt;-->
            <!--             <modal :name="'edit-salary-rate-user-' + id">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Редактировать ставку для {{ name }}</h5>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group col-md-12">
                                            <label for="rate" class="control-label required">Ставка</label>
                                            <input type="text" class="form-control" id="rate" v-model="salary_rate.amount">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="description" class="control-label">Описание</label>
                                            <input type="text" class="form-control" id="description" v-model="salary_rate.description">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" v-on:click="editUserSalaryRate">Изменить</button>
                                    <button type="button" class="btn btn-secondary" v-on:click="hide(id)">Отмена</button>
                                </div>
                            </div> -->
            <!--</modal>-->
        </td>
        <td>
            <button type="button" class="btn btn-danger btn-sm" title="Удалить ставку пользователя"
                    v-on:click="deleteProviderPosition">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </td>
    </tr>

</template>

<script>
    import Vue from 'vue';
    import VModal from 'vue-js-modal';
    Vue.use(VModal);

    export default {
        name: 'choose-provider-set-item',

        // построчное перечисление, не надо делать километровые строки
        props: ['prov_id', 'delivery_time', 'enter_price', 'markup', 'client_price', 'provider', 'position', 'id_chackbox'],
        data: () => ({
            new_rate: 0,
            new_description: '',
            checkbox: ''
        }),
        mounted(){
            this.$root.$on('event-name', function (value) {
                //
                alert(value);
            });
        },
        computed: {
            delivery_timeVal: {
                get: function () {
                    return this.delivery_time
                },
                set: function (delivery_time) {
                    this.$emit('update:delivery_time', delivery_time);
                },
            },
        },
        methods: {
            check_id(){
                // this.$parent.checked.push(this.id_chackbox);
                // console.log(this.$parent.checked);
                this.$emit('check_id', this.id_chackbox);
            },
            deleteProviderPosition(){
                if (confirm('Вы уверены что хотите удалить эту позицию?')) {
                    axios.delete(apiUrl('choose_provider/delete/' + this.provider.id + '/' + this.position.id)).then((response) => {
                        if (response.data.success === true) {
                            showSuccess('Позиция удалена!');
                            this.$emit('deleteProviderPosition', this.id_chackbox);
                        }
                        else {
                            showError(response.data.errors[0]);
                        }
                    }, (error) => {
                        showError(error);
                    });
                }
            }// this.position.id
        },
        mounted: function () {
            $(this.$refs.enter_price).cellEdit({
                tag: '<input type="text" />',
                closeOnEnter: true,
                onTextChange: (enter_price, el, oldenter_price) => {
                    $.post(apiUrl(`choose_provider/${this.id_chackbox}/update`), {enter_price}).then(() => {
                        console.log('del' + enter_price);
                        this.delivery_timeVal = enter_price;
                    }).catch(() => {
                        getApiErrors(res).map(showError);
                        console.log('deltime' + enter_price);
                    });
                },
            });
            $(this.$refs.delivery_time).cellEdit({
                tag: '<input type="text" />',
                closeOnEnter: true,
                onTextChange: (delivery_time, el, oldDelivery_time) => {
                    $.post(apiUrl(`choose_provider/${this.id_chackbox}/update`), {delivery_time}).then(() => {
                        console.log('del1' + oldDelivery_time);
                        this.delivery_timeVal = delivery_time;
                    }).catch(() => {
                        getApiErrors(res).map(showError);
                        console.log('deltime' + delivery_time);
                    });
                },
            });
            $(this.$refs.client_price).cellEdit({
                tag: '<input type="text" />',
                closeOnEnter: true,
                onTextChange: (client_price, el, oldClient_price) => {
                    $.post(apiUrl(`choose_provider/${this.id_chackbox}/update`), {client_price}).then(() => {
                        console.log('del' + client_price);
                        this.client_priceVal = client_price;
                    }).catch(() => {
                        getApiErrors(res).map(showError);
                        console.log('deltime' + client_price);
                    });
                },
            });
        },
    }
</script>

<style scoped>

</style>