<template>

    <tr>
        <td>{{ id }}</td>
        <td>{{ name }}</td>
        <td>{{ role.name }}</td>
        <td><b>{{ balance }}$</b></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <a target="_blank" :href="'/../profile/' + id" class="btn btn-info btn-sm" title="Профиль пользователя">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </td>
        <td>
            <button type="button" class="btn btn-success btn-sm" title="Выдать ЗП" v-on:click="show(id)">
                <span class="glyphicon glyphicon-credit-card"></span>
            </button>
            <modal :name="'pay-out-user-' + id">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Выдача зарплаты для {{ name }}</h5>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group col-md-12">
                                <label for="rate" class="control-label required">Сумма</label>
                                <input type="text" class="form-control" id="rate" v-model="amount">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="description" class="control-label">Описание</label>
                                <input type="text" class="form-control" id="description" v-model="description">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="payOut">Применить</button>
                        <button type="button" class="btn btn-secondary" v-on:click="hide(id)">Отмена</button>
                    </div>
                </div>
            </modal>
        </td>
    </tr>

</template>

<script>
    export default {
        name: 'user-salary-item',
        props: ['id', 'name', 'role', 'balance'],
        data: () => ({
            amount: 0,
            description: '',
        }),
        methods: {
            show (id) {
                this.$modal.show('pay-out-user-' + id)
            },
            hide (id) {
                this.$modal.hide('pay-out-user-' + id);
            },
            payOut() {
                if(confirm('Вы уверены что хотите начислить зарплату ' + this.name + '?')) {
                    axios.post(apiUrl(`profile/${this.id}/give_salary`), {
                        amount: this.amount,
                        description: this.description,
                    }).then((response) => {
                        if(response.data.success === true) {
                            showSuccess('Зарплата успешно начислена');
                            this.balance = response.data.data.balance;
                            this.$modal.hide('pay-out-user-' + this.id);

                            this.amount = 0;
                            this.description = '';
                        }
                        else {
                            showError(response.data.errors[0]);
                        }
                    }, (error) => {
                        showError(error);
                    });
                }
            },
        }
    }
</script>

<style scoped>

</style>