<template>

    <div class="container">
        <div class="row">
            <div class="row">
                <form @submit.prevent="chooseProviderByPosition">
                    <div class="form-group">
                        <label>Выбрать заявку</label>
                        <selector placeholder="Выбрать"
                                  :options="applicationsList"
                                  v-model="selectedApplication"
                                  track-by="id"
                                  label="label"
                                  :allow-empty="false"
                                  @input="getPosition">
                        </selector>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="button"
                                @click.prevent="chooseProviderByPosition">Добавить
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <hr/>

        <div class="row" v-if="selectedApplication">
            Заявку создал:
            Имя: {{selectedApplicationFields.name}}
            Телефон: {{selectedApplicationFields.telephone}}
            Дата: {{selectedApplicationFields.created_at}}
            <div>{{markModel.mark}} {{markModel.model}} {{selectedApplicationFields.year}} год</div>
            <div>VIN: {{selectedApplicationFields.vin}}</div>

            <hr/>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Позиция</th>
                        <th>Поставщик</th>
                        <th>Срок доставки</th>
                        <th>Стоимость вход</th>
                        <th>Наценка %</th>
                        <th>Стоимость клиенту</th>
                        <th>Добавить в заказы</th>
                    </tr>
                    </thead>
                    <tbody>
                    <choose-provider-set-item v-for="(chooseProvider, key) in chooseProviderList"
                                              v-bind="chooseProvider" :chooseProvider="chooseProvider"
                                              :delivery_time.sync="chooseProvider.delivery_time"
                                              :enter_price.sync="chooseProvider.enter_price"
                                              :markup.sync="chooseProvider.markup"
                                              :client_price.sync="chooseProvider.client_price"
                                              :provider.sync="chooseProvider.provider"
                                              :position.sync="chooseProvider.application_position"
                                              @deleteProviderPosition="deleteProviderPosition"
                                              @check_id="check_id"
                                              :key="chooseProvider.id"
                                              :id_chackbox="chooseProvider.id"
                    />
                    <tr>
                        <td>
                            <selector placeholder="Выбрать" :options="positionsList" v-model="selectedPositions"
                                      track-by="id" label="name_detail" :show-labels="false"
                                      :allow-empty="false" :value="selectedPositions"></selector>
                        </td>
                        <td>
                            <selector placeholder="Выбрать" :options="providersList" v-model="selectedProvider"
                                      track-by="id" label="name" :show-labels="false"
                                      :allow-empty="false"></selector>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="delivery_time" v-model="delivery_time">
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="enter_price" v-model="enter_price"
                                       @change="clientPriceMarkup">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="markup" v-model="markup"
                                       @change="clientPriceMarkupChange">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="client_price"
                                       v-model="client_price">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-success" type="button"
                                    @click.prevent="chooseProviderByPosition">Добавить
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="button"
                        @click.prevent="createTask">На рассмотрение
                </button>
                <button class="btn btn-success" type="button"
                        @click.prevent="createOrder">Создать заказ
                </button>
                <button class=" btn btn-success" type="button" @click.prevent="createPDF">Сохранить в PDF
                </button>
            </div>
        </div>

    </div>

</template>

<script>
    import Vue from 'vue';
    import Selector from 'vue-multiselect';
    import 'vue-multiselect/dist/vue-multiselect.min.css';

    export default {
        name: 'choose-provider-data',
        components: {
            Selector,
        },
        props: [
            'applications',
            'providers',
        ],
        data: function () {
            return {
                applicationsList: this.applications,
                providersList: this.providers,
                chooseProviderList: '',
                rate: 0,
                description: '',
                user: null,
                positionsList: [],
                selectedApplication: null,
                selectedPositions: '',
                selectedProvider: '',
                /**/
                selectedApplicationFields: '',
                number_detail: '',
                delivery_time: '',
                enter_price: '',
                markup: 20,
                client_price: '',
                markModel: '',
                markModelTest: '',
                routePdf: '',
                checked: [],
            };
        },
        computed: {},
        methods: {
            // selectedPositionsFunc(selectedPositions) {
            //     this.selectedPositions = selectedPositions.id;
            //     console.log('testp'+this.selectedPositions);
            // },
            createPDF() {
                window.open(this.routePdf, '_blank');
            },
            createTask() {
                let id = this.selectedApplication;
                axios.get(apiUrl('choose_provider/create-task/' + id)).then(response => {
                    if (response.data == 'work') {
                        showSuccess('Задача для менеджера создана');
                    }
                });
            },
            check_id(check_id) {
                if (this.checked.includes(check_id)) {
                    this.checked.splice(this.checked.indexOf(check_id), 1);
                } else {
                    this.checked.push(check_id);
                }
                console.log(this.checked);
            },
            createOrder() {
                console.log(this.checked.length);
                if (this.checked.length) {
                    axios.post(apiUrl('choose_provider/create_order_checkbox'), {
                        position_id_list: this.checked,
                        app_id: this.selectedApplication,
                    }).then(response => {
                        if (response.data == 'work') {
                            showSuccess('Заказ создан');
                        }
                    });
                } else {
                    showError('Должна быть выбрана хотя бы одна позиция');
                }
            },
            clientPriceMarkup() {
                this.client_price = ((this.markup / 100) + 1) * this.enter_price;
            },
            clientPriceMarkupChange() {
                this.client_price = ((this.markup / 100) + 1) * this.enter_price;
            },
            displayApplication(id) {
                let result = this.applicationsList.filter(obj => {
                    return obj.id === id
                })
                this.selectedApplication = result[0];
                if (!result) {
                    return ''
                } else return result;

            },
            // list-positions-provider-by-app
            getPositionProviderByApp(id) {
                axios.get(apiUrl('application-positions/list-positions-provider-by-app/' + id)).then(response => this.chooseProviderList = response.data);
            },

            getPosition(selectedApplication) {
                let id = selectedApplication.id;

                this.routePdf = 'application-select-provider/pdf/' + id;
                // лучше делать более развёрнутый запрос, см. метод payOut
                axios.get(apiUrl('application-positions/list/' + id)).then(response => this.positionsList = response.data);
                this.getPositionProviderByApp(id);
                let result = this.applicationsList.filter(obj => {
                    return obj.id === id
                });
                this.selectedApplicationFields = result[0];
                axios.get(apiUrl('choose_provider/get-mark-model/' + this.selectedApplicationFields.mark + '/' + this.selectedApplicationFields.model)).then(response => this.markModel = response.data);
            },
            // closeAppSelect(){
            //         console.log('close');
            //         // this.selectedApplication = null;
            // },
            // selectAppSelect(selectedApplication){
            //         console.log(selectedApplication);
            // },
            // inputTest(selectedApplication){
            //         console.log(selectedApplication);
            // },
            payOut() {
                if (confirm('Вы уверены что хотите перевести сделку в статус ' + statusName + '?')) {
                    axios.put(apiUrl(`deals/${this.deal.id}/status`), {
                        status_id: statusId,
                    }).then((response) => {
                        if (response.data.success === true) {
                            showSuccess('Статус успешно изменён');
                        }
                        else {
                            showError(response.data.errors[0]);
                        }
                    }, (error) => {
                        showError(error);
                    });
                }
            },
            chooseProviderByPosition() { //добавляем поставщика к позиции по одной
                if (confirm('Добавить поставщика к позиции?')) {
                    this.buffer = {
                        number_detail: this.number_detail,
                        delivery_time: this.delivery_time,
                        enter_price: this.enter_price,
                        markup: this.markup,
                        client_price: this.client_price,
                        apos_id: this.selectedPositions.id,
                        prov_id: this.selectedProvider.id,
                        app_id: this.selectedApplication,
                        api_token: document.getElementsByName('api-token')[0].content,
                    };
                    axios.post(apiUrl('choose_provider/add'), this.buffer).then((response) => {
                        if (response.data.success === true) {
                            showSuccess('Ставка успешно добавлена');
                            this.number_detail = '';
                            this.delivery_time = 0;
                            this.enter_price = 0;
                            this.client_price = 0;
                            this.selectedProvider = null;
                            this.selectedPositions = null;
                            //
                            this.user = null;
                            this.rate = 0;
                            this.description = '';
                            this.chooseProviderList = response.data.data.choose_provider_list;
                        }
                        else {
                            showError(response.data.errors[0]);
                        }
                    }, (error) => {
                        showError(error);
                    });

                }
            },
            deleteProviderPosition(key) {
                this.chooseProviderList.splice(key, 1);
            },
        },
    }

</script>

<style scoped>
</style>